<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="list" appConnect="local" -->
<meta name="ac:route" content="/a/l/:code/">
<%=_('$_PARAM.code',locals)%>
<div class="row">
    <div class="col">
        <h1>List Page: My page parameter is: {{query.code}}&nbsp;</h1>
    </div>
</div>