<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="t" appConnect="local" -->
<meta name="ac:route" content="/a/t/:code">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is a parameter from the layout manager</h1>
            <h1>Layout code parameter: {{layout_query.data.code}}</h1>
            <h1>Regular parameter: {{query.code}}</h1>
        </div>
    </div>
</div>